*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: blue;
    background-color: grey;
    display: inline-block;
    position: relative;
    top: 200px;
    left: 50px;
    padding: 50px;
}